.carousel_item{
  background-color: white;
  display: block;
  color: black;
}

.carousel_img{
  width: 100%;
  height: 300px;
  aspect-ratio: 1;
}

.carousel_content{
  padding: 15px;
}

.property_name{
  text-align: center;
  padding-bottom: 15px;
}

.property_detail{
  display: flex;
  gap: 15px;
  padding-top: 15px;
}