.footer{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: black;
}

.footer_section, .contact{
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer_section, .email{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.login{
  border: 2px solid var(--dark-green);
  padding: 5px 10px;
  border-radius: 2px;
}

@media screen and (width < 1025px) {
  .footer{
    padding: 15px;
  }

  .footer, .footer_right{
    display: block;
  }

  .footer_left{
    justify-content: space-between;
  }

  .footer_left,
  .contact{
    margin-bottom: 15px;
  }
}