.main{
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.main > div{
  width: 100%;
}

.input_container{
  padding-bottom: 10px;
}

.img{
  width: 100%;
  max-height: 100vh;
}

.checkbox{
  color: white;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.textarea{
  resize: vertical;
}

@media screen and (width < 769px) {
  .main{
    display: block;
  }
  .image_container{
    display: none;
  }
}