.main{
  display: grid;
  place-items: center;
  flex: 1;
}

.section{
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 800px;
}

.detail,
.header_container {
  text-align: center;
}

.header_container{
  padding-bottom: 45px;
}