.header{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  padding: 10px 30px;
  color: white;
  background-color: var(--header-footer-bg);
}

.nav{
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav > *{
  cursor: pointer;
}

.setting{
  justify-content: end;
}

.logo{
  cursor: pointer;
  width: 75px;
  height: 75px;
  aspect-ratio: 1;
}

@media (width < 1025px) {
  .header{
    padding: 10px 15px;
  }
}

@media (width < 481px) {
  .logo{
    width: 40px;
    height: 40px;
  }
}