.header{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  /* grid-template-columns: 1fr auto 1fr; */
  padding: 10px 30px;
}

.nav{
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav > *{
  cursor: pointer;
}

.setting{
  justify-content: end;
}

.logo{
  cursor: pointer;
}

.logo_wrapper{
  text-align: center;
}