.btn_group{
  display: grid;
  gap: 5px
}

.carousel_item{
  background-color: var(--card-bg);;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr minmax(50%, 1fr);
}

.carousel_item:last-of-type{
  margin-bottom: 60px;
  margin-bottom: 0;
}

.image_container{
  display: grid;
  place-items: center;
  padding: 5px;
}

.carousel_img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
}

.carousel_content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.property_name{
  padding-bottom: 10px;
  text-transform: capitalize;
}

.location_deal{
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.amenities{
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.more{
  color: darkblue;
  display: inline-block;
}

.more:hover{
  text-decoration: underline;
}

.description{
  padding-bottom: 10px;
}

.property_detail{
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  text-transform: capitalize;
}

.elegant_style{
  font-style: italic;
  font-size: 18px;
}

@media (width < 481px) {
  .carousel_item{
    grid-template-columns: 1fr;
  }
}